## 야생조류수와 조류인플루엔자 분석


## 데이터 종류
#### -지역 별 2003년~2021년 년도 별 철새 데이터(겨울에만 발생)

##### -지역 별 2014년~2021년 월 별 철새 데이터(10,11,12,1,2,3월 데이터만 존재)데이터 내용 분석

#### -발생건수 데이터

# 1. 야생조류수와 조류인플루엔자 상관관계 분석

## 방법


### 철새데이터 14년-21년 10-3월(6개월) 발생건수와 철새가 발생하지 않는4-9월(6개월) 발생건수 비교하기.

In [1]:
import weatherAPI
import pandas as pd
import numpy as np
import datetime
import pandas as pd
import seaborn as sns
import scipy as sp
from scipy import stats

In [91]:
#지역 별 2014년~2021년 월 별 철새 데이터(10,11,12,1,2,3월) 데이터 불러오기
df1=pd.read_csv("./data/wild_birds_month.csv")
wild_birds_month=df1.copy()
wild_birds_month.head()

,구분,시도,시군,2014년-10월,2014년-11월,2014년-12월,2015년-01월,2015년-02월,2015년-03월,2015년-10월,...,2020년-01월,2020년-02월,2020년-03월,2020년-10월,2020년-11월,2020년-12월,2021년-01월,2021년-02월,2021년-03월,평균
0,날짜,NaN,NaN,2014-10-01,2014-11-14,2014-12-14,2015-01-15,2015-02-15,2015-03-15,2015-10-15,...,2020-01-20,2020-02-20,2020-03-20,2020-10-20,2020-11-20,2020-12-20,2021-01-21,2021-02-21,2021-03-21,NaN
1,조사종수,-,-,182,190,186,180,186,186,201,...,210,167,162,180,180,203,202,178,180,183.571429
2,합계,-,-,617312,1038700,1111763,974685,675607,839772,483382,...,1629083,923296,380384,575277,944700,1571494,1481717,858236,472276,912340.476200
3,철원평야,강원도,철원군,51660,43900,9336,10857,14109,40987,70824,...,62302,99543,60365,39088,36482,53663,21929,54268,40268,46908.547620
4,연천군,경기도,연천군,595,1150,1227,3530,4674,3297,1349,...,7786,0,0,0,2493,3639,4452,11186,2471,3150.500000

In [3]:
# 철새 데이터 년도 별 묶기
wild_birds_month14=wild_birds_month[['구분','시도','시군','2014년-10월','2014년-11월','2014년-12월']]
wild_birds_month15=wild_birds_month[['구분','시도','시군','2015년-01월','2015년-02월','2015년-03월','2015년-10월','2015년-11월','2015년-12월']]
wild_birds_month16=wild_birds_month[['구분','시도','시군','2016년-01월','2016년-02월','2016년-03월','2016년-10월','2016년-11월','2016년-12월']]
wild_birds_month17=wild_birds_month[['구분','시도','시군','2017년-01월','2017년-02월','2017년-03월','2017년-10월','2017년-11월','2017년-12월']]
wild_birds_month18=wild_birds_month[['구분','시도','시군','2018년-01월','2018년-02월','2018년-03월','2018년-10월','2018년-11월','2018년-12월']]
wild_birds_month19=wild_birds_month[['구분','시도','시군','2019년-01월','2019년-02월','2019년-03월','2019년-10월','2019년-11월','2019년-12월']]
wild_birds_month20=wild_birds_month[['구분','시도','시군','2020년-01월','2020년-02월','2020년-03월','2020년-10월','2020년-11월','2020년-12월']]
wild_birds_month21=wild_birds_month[['구분','시도','시군','2021년-01월','2021년-02월','2021년-03월']]

In [4]:
#합계 넣기
wild_birds_month14['합계']=wild_birds_month14.sum(axis=1)
wild_birds_month15['합계']=wild_birds_month15.sum(axis=1)
wild_birds_month16['합계']=wild_birds_month16.sum(axis=1)
wild_birds_month17['합계']=wild_birds_month17.sum(axis=1)
wild_birds_month18['합계']=wild_birds_month18.sum(axis=1)
wild_birds_month19['합계']=wild_birds_month19.sum(axis=1)
wild_birds_month20['합계']=wild_birds_month20.sum(axis=1)
wild_birds_month21['합계']=wild_birds_month21.sum(axis=1)

<ipython-input-4-ea7c937d8fc4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wild_birds_month14['합계']=wild_birds_month14.sum(axis=1)
<ipython-input-4-ea7c937d8fc4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wild_birds_month15['합계']=wild_birds_month15.sum(axis=1)
<ipython-input-4-ea7c937d8fc4>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wild_birds_month16['합계']=wild_birds_month16.sum(axis=1)
<ipython-input-4-ea7c937d8fc4>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wild_birds_month17['합계']=wild_birds_month17.sum(axis=1)
<ipython-input-4-ea7c937d8fc4>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wild_birds_month18['합계']=wild_birds_month18.sum(axis=1)
<ipython-input-4-ea7c937d8fc4>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wild_birds_month19['합계']=wild_birds_month19.sum(axis=1)
<ipython-input-4-ea7c937d8fc4>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wild_birds_month20['합계']=wild_birds_month20.sum(axis=1)
<ipython-input-4-ea7c937d8fc4>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wild_birds_month21['합계']=wild_birds_month21.sum(axis=1)

In [6]:
# 철새데이터 년도-월 야생조류 합계데이터만 추출

t_14=wild_birds_month14.loc[[1],['합계']]
t_15=wild_birds_month15.loc[[1],['합계']]
t_16=wild_birds_month16.loc[[1],['합계']]
t_17=wild_birds_month17.loc[[1],['합계']]
t_18=wild_birds_month18.loc[[1],['합계']]
t_19=wild_birds_month19.loc[[1],['합계']]
t_20=wild_birds_month20.loc[[1],['합계']]
t_21=wild_birds_month21.loc[[1],['합계']]

In [7]:
#철새 데이터 합계데이터 년도 별 데이터프레임 생성 
wild_birds_month_t=pd.concat([t_14,t_15,t_16,t_17,t_18,t_19,t_20,t_21],axis=0)
wild_birds_month_t.reset_index()

   index       합계
0      1  2767775
1      1  5517283
2      1  5477161
3      1  4684192
4      1  5349039
5      1  5686387
6      1  6024234
7      1  2812229

In [8]:
#인덱스를 년도로 바꿔주기
wild_birds_month_t.index = ['2014','2015','2016','2017','2018','2019','2020','2021']
wild_birds_month_t

#2014년 10~12월(총 3개월)
#2021년 1~3월 (총 3개월)
#나머지 년도는 1~3월, 10~12월 (총 6개월)

           합계
2014  2767775
2015  5517283
2016  5477161
2017  4684192
2018  5349039
2019  5686387
2020  6024234
2021  2812229

In [9]:
#발생건수 불러오기
AI=pd.read_csv("HPAIOccurlist_final.csv")
AI_occur=AI.copy()
#필요없는 데이터 삭제
AI_occur.drop(columns=['축종'],inplace=True)
AI_occur.drop(columns=['사육수'],inplace=True)
AI_occur.drop(columns=['진단일'],inplace=True)
#데이트타입으로 변환
AI_occur['datetime'] =AI_occur['발생일'].apply(lambda x: pd.to_datetime(str(x), format='%Y/%m/%d'))

# DataFrame의 index 변형하기
AI_occur.set_index('datetime', inplace=True) 

#year, month 컬럼 생성
AI_occur['month']=AI_occur.index.month
AI_occur['year']=AI_occur.index.year
AI_occur

                          주소       발생일  지역코드  month  year
datetime
2003-12-12  충청북도 음성군 삼성면 용성리  20031212   127     12  2003
2003-12-17  충청북도 음성군 삼성면 덕정리  20031217   127     12  2003
2003-12-19  충청북도 음성군 삼성면 용성리  20031219   127     12  2003
2003-12-21  경상북도 경주시 안강읍 육통리  20031221   138     12  2003
2003-12-21  전라남도 나주시 산포면 매성리  20031221   156     12  2003
...                      ...       ...   ...    ...   ...
2021-03-21  전라남도 장흥군 장평면 기동리  20210321   260      3  2021
2021-03-22  전라남도 장흥군 장평면 기동리  20210322   260      3  2021
2021-03-23  전라남도 나주시 산포면 등수리  20210323   156      3  2021
2021-04-06  전라남도 장흥군 장평면 양촌리  20210406   260      4  2021
2021-04-06  전라남도 장흥군 장평면 양촌리  20210406   260      4  2021

[1122 rows x 5 columns]

In [10]:
#년도-월 발생건수 카운트
AI_occur_df=AI_occur.groupby(['year','month'])['발생일'].count()
AI_occur_df.head()

year  month
2003  12       19
2004  1         3
      2         1
      3         2
2006  11        3
Name: 발생일, dtype: int64

In [11]:
#데이터프레임으로 만들기
AI_occur_df=AI_occur_df.to_frame()
#인덱스 번호 생성 및 데이터 확인
AI_occur_df=AI_occur_df.reset_index()
AI_occur_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    57 non-null     int64
 1   month   57 non-null     int64
 2   발생일     57 non-null     int64
dtypes: int64(3)
memory usage: 1.5 KB

In [12]:
AI_occur_df

    year  month  발생일
0   2003     12   19
1   2004      1    3
2   2004      2    1
3   2004      3    2
4   2006     11    3
5   2006     12    3
6   2007      1    2
7   2007      2    1
8   2007      3    1
9   2008      4   23
10  2008      5   22
11  2010     12    3
12  2011      1   38
13  2011      2    8
14  2011      3    3
15  2011      4    1
16  2011      5    1
17  2014      1   58
18  2014      2  101
19  2014      3   53
20  2014      4   12
21  2014      5    4
22  2014      6    6
23  2014      7    4
24  2014      9   11
25  2014     10   17
26  2014     11    7
27  2014     12    7
28  2015      1   38
29  2015      2   35
30  2015      3   29
31  2015      4   14
32  2015      5    6
33  2015      6    2
34  2015      9    7
35  2015     10    7
36  2015     11    3
37  2016      3    1
38  2016      4    1
39  2016     11   66
40  2016     12  247
41  2017      1   29
42  2017      2   13
43  2017      3   29
44  2017      4    2
45  2017      6   36
46  2017     11    1
47  2017     12    7
48  2018      1    8
49  2018      2    2
50  2018      3    4
51  2020     11    2
52  2020     12   41
53  2021      1   50
54  2021      2   20
55  2021      3    6
56  2021      4    2

In [24]:
#철새데이터 확인 되는 월(1~3월, 10~12월)과 4,5,6,7,8,9월 달 분리하기

AI_occur_brids14=AI_occur_df.query("year=='2014' and month in ['10','11','12']")
AI_occur_no_brids14=AI_occur_df.query("year=='2014' and month in ['7','8','9']")
#14년도는 철새데이터가 10~12월만 존재하기 때문에 10월 3개월 전인 7~9월 달로 비교

AI_occur_brids15=AI_occur_df.query("year=='2015' and month in ['1','2','3','10','11','12']")
AI_occur_no_brids15=AI_occur_df.query("year=='2015' and month in ['4','5','6','7','8','9']")

AI_occur_brids16=AI_occur_df.query("year=='2016' and month in ['1','2','3','10','11','12']")
AI_occur_no_brids16=AI_occur_df.query("year=='2016' and month in ['4','5','6','7','8','9']")

AI_occur_brids17=AI_occur_df.query("year=='2017' and month in ['1','2','3','10','11','12']")
AI_occur_no_brids17=AI_occur_df.query("year=='2017' and month in ['4','5','6','7','8','9']")

AI_occur_brids18=AI_occur_df.query("year=='2018' and month in ['1','2','3','10','11','12']")
AI_occur_no_brids18=AI_occur_df.query("year=='2018' and month in ['4','5','6','7','8','9']")

AI_occur_brids19=AI_occur_df.query("year=='2019' and month in ['1','2','3','10','11','12']")
AI_occur_no_brids19=AI_occur_df.query("year=='2019' and month in ['4','5','6','7','8','9']")

AI_occur_brids20=AI_occur_df.query("year=='2020' and month in ['1','2','3','10','11','12']")
AI_occur_no_brids20=AI_occur_df.query("year=='2020' and month in ['4','5','6','7','8','9']")

AI_occur_brids21=AI_occur_df.query("year=='2020' and month in ['1','2','3']")
AI_occur_no_brids21=AI_occur_df.query("year=='2020' and month in ['4','5','6']")
#21년은 아직 해가 다 지나지 않아 철새데이터는 1~3월만 존재하여 그 후 3개월 4~6월로 비교

In [33]:
# 1~3월 and 10~12월 발생건수 합치기

AI_occur_brids14s=AI_occur_brids14['발생일'].sum()
print(AI_occur_brids14s)

AI_occur_brids15s=AI_occur_brids15['발생일'].sum()
print(AI_occur_brids15s)

AI_occur_brids16s=AI_occur_brids16['발생일'].sum()
print(AI_occur_brids16s)

AI_occur_brids17s=AI_occur_brids17['발생일'].sum()
print(AI_occur_brids17s)

AI_occur_brids18s=AI_occur_brids18['발생일'].sum()
print(AI_occur_brids18s)

AI_occur_brids19s=AI_occur_brids19['발생일'].sum()
print(AI_occur_brids19s)

AI_occur_brids20s=AI_occur_brids20['발생일'].sum()
print(AI_occur_brids20s)

AI_occur_brids21s=AI_occur_brids21['발생일'].sum()
print(AI_occur_brids21s)

31
112
314
79
14
0
43
0

In [37]:
# 1~3월 and 10~12월 발생건수 합 데이터프레임 생성
AI_occur_brids_sdf=pd.DataFrame(
    data={'철새 유':['31','112','314','79','14','0','43','0'] },
    index=['2014','2015','2016','2017','2018','2019','2020','2021'],
    columns=['철새 유'])
print(AI_occur_brids_sdf)

     철새 유
2014   31
2015  112
2016  314
2017   79
2018   14
2019    0
2020   43
2021    0

In [39]:
# 4~9월(6개월) 발생건수 합치기

AI_occur_no_brids14s=AI_occur_no_brids14['발생일'].sum()
print(AI_occur_no_brids14s)

AI_occur_no_brids15s=AI_occur_no_brids15['발생일'].sum()
print(AI_occur_no_brids15s)

AI_occur_no_brids16s=AI_occur_no_brids16['발생일'].sum()
print(AI_occur_no_brids16s)

AI_occur_no_brids17s=AI_occur_no_brids17['발생일'].sum()
print(AI_occur_no_brids17s)

AI_occur_no_brids18s=AI_occur_no_brids18['발생일'].sum()
print(AI_occur_no_brids18s)

AI_occur_no_brids19s=AI_occur_no_brids19['발생일'].sum()
print(AI_occur_no_brids19s)

AI_occur_no_brids20s=AI_occur_no_brids20['발생일'].sum()
print(AI_occur_no_brids20s)

AI_occur_no_brids21s=AI_occur_no_brids21['발생일'].sum()
print(AI_occur_no_brids21s)

15
29
1
38
0
0
0
0

In [40]:
#4~9월 발생건수 합 데이터프레임 생성
AI_occur_no_brids_sdf=pd.DataFrame(
    data={'철새 무':['15','29','1','38','0','0','0','0'] },
    index=['2014','2015','2016','2017','2018','2019','2020','2021'],
    columns=['철새 무'])
print(AI_occur_no_brids_sdf)

     철새 무
2014   15
2015   29
2016    1
2017   38
2018    0
2019    0
2020    0
2021    0

In [44]:
# 1~3월 and 10~12월 발생건수 df와 4~9월 발생건수 df 합치기
AI_occur_brids_ssdf=pd.concat([AI_occur_brids_sdf,AI_occur_no_brids_sdf],axis=1)
AI_occur_brids_ssdf

     철새 유 철새 무
2014   31   15
2015  112   29
2016  314    1
2017   79   38
2018   14    0
2019    0    0
2020   43    0
2021    0    0

# AI_occur_brids_ssdf 설명

## 철새가 나타나는 시기인 1-3월 and 10-12월과 철새가 나타나지 않는 4월-9월 발생건수 비교

### 철새데이터가 있는 달: 1-3월 and 10월-12월
### 철새데이터가 없는 달: 4월-9월

## 컬럼 설명

### 철새 유: 철새데이터가 있는 달의 조류인플루엔자 발생건수 
### 철새 무: 철새데이터가 없는 달의 조류인플루엔자 발생건수

****2014년은 철새데이터가 10-12월만 존재하여 철새유는 10-12월 데이터 철새무는 7-9월 데이터만 비교

****2021년은 철새데이터가 1-3월만 존재하여 철새유는 1-3월 데이터 철새무는 4-6월 데이터만 비교

In [46]:
#철새 데이터 유무일 때 발생데이터 건수와 야생조류 수 확인
AI_brids_occur_count=pd.concat([AI_occur_brids_ssdf,wild_birds_month_t],axis=1)
AI_brids_occur_count

     철새 유 철새 무       합계
2014   31   15  2767775
2015  112   29  5517283
2016  314    1  5477161
2017   79   38  4684192
2018   14    0  5349039
2019    0    0  5686387
2020   43    0  6024234
2021    0    0  2812229

###가설검증 진행###

가정: 철새가 나타나는 월과 철새가 나타나지 않는 월보다 발생건수 차이가 있을 것이다.

귀무가설: 철새가 나타나는 월의 발생건수와 철새가 나타나지 않는 월의 발생건수 차이는 0이다.

대립가설: 철새가 나타나는 월의 발생건수와 철새가 나타나지 않는 월의 발생건수 차이는 0이 아니다.

정규성 검정
1. shapiro-wilk test => 표본이 2000 미만인 dataset에 적합 (stats.shapiro)
2. kolmogorove-smirnov test => 표본이 2000초과인 dataset에 적합 (stats.kstest)
> 귀무가설(정규화 따른다), 대립가설(정규화 따르지 않는다)

독립성 검정
chi-squared test => 카이제곱 검정, 관찰된 빈도가 기대되는 빈도와 의미있게 다른지 여부 검증
pandas 중 pd.crosstab(x,y)의 결과물을 chi2_contingency() 함수로 입력
결과물 > (검정통계량, p-value, 자유도, 기대빈도수)

등분산성 검정
1. barlett's test => 정규화일경우 분산 검정 (stats.bartlett)
2. levene's test => 정규분포화 관계없이 연속적인 분포로 데이터를 구할 경우 (stats.levene)
> 귀무가설(k개의 집단에 분산이 동일), 대립가설(k개중 하나라도 다른 분산 존재)

가설 검정
1. 모수적 검정
    독립적(Two-sample t-test), 비독립적(Paired t-test) -> parameter 중 equal_var=True (분산 동일), False(분산 알수 없는 경우) 
    3집단 이상(one-way ANOVA), 3집단 이상 비독립적(ANOVA with repeated measure)

2. 비모수적 검정
    독립적(Mann-Whitney U Test - stats.mannwhitneyu), 비독립적(Wilcoxon Singed-Ranked Test - stats.wilcoxon) (같은 쌍)
    3집단 이상(Kruskal-Wallis H test - stats.kruskal), 3집단 이상 비독립적(Friedman test - stats.friedmanchisquare)

In [47]:
# 정규성 검정  > 대립가설(정규화 따르지 않는다) 채택
test_stat, p_value = stats.shapiro(AI_occur_brids_sdf)
print("test_stat: %f, pvalue=%f"%(test_stat, p_value))
test_stat, p_value = stats.shapiro(AI_occur_no_brids_sdf)
print("test_stat: %f, pvalue=%f"%(test_stat, p_value))

test_stat: 0.124973, pvalue=0.000000
test_stat: 0.736055, pvalue=0.005720

In [51]:
# 독립성 검정  > 귀무가설(두 변수는 서로 독립적이다) 채택
crosstab=pd.crosstab(AI_occur_brids_sdf['철새 유'],AI_occur_no_brids_sdf['철새 무'])
chi2 = stats.chi2_contingency(crosstab)
print("test_stat: %f, pvalue=%f"%(chi2[0], chi2[1]))
#pvalue 5%이상 귀무가설 채택.

test_stat: 32.000000, pvalue=0.126993

In [57]:
# 비모수적 데이터 이며 독립적이므로 Mann-Whitney U test 이용 (크기 차이 알수 없음)
result_brids=stats.mannwhitneyu(AI_occur_brids_sdf['철새 유'],AI_occur_no_brids_sdf['철새 무'])
result_brids

MannwhitneyuResult(statistic=20.0, pvalue=0.1074734775847635)

In [58]:
print("u검정 통계량: %.3f, pvalue=%.3f"%(result_brids))   # 유의수준 5%내이므로 귀무가설 기각 대립가설 채택

u검정 통계량: 20.000, pvalue=0.107

# => 가설검증을 통해 철새 개체수와 조류인플루엔자 발생이 상관관계가 있음을 확인.

## 발생기준 만들기(위험도 테이블..)

In [59]:
#철새 월별 데이터 불러오기
AI_birds_m=pd.read_csv("./data/wild_birds_month.csv")
wild_birds_month=AI_birds_m.copy()
wild_birds_month.head()

,구분,시도,시군,2014년-10월,2014년-11월,2014년-12월,2015년-01월,2015년-02월,2015년-03월,2015년-10월,...,2020년-01월,2020년-02월,2020년-03월,2020년-10월,2020년-11월,2020년-12월,2021년-01월,2021년-02월,2021년-03월,평균
0,조사종수,-,-,182,190,186,180,186,186,201,...,210,167,162,180,180,203,202,178,180,183.571429
1,합계,-,-,617312,1038700,1111763,974685,675607,839772,483382,...,1629083,923296,380384,575277,944700,1571494,1481717,858236,472276,912340.476200
2,철원평야,강원도,철원군,51660,43900,9336,10857,14109,40987,70824,...,62302,99543,60365,39088,36482,53663,21929,54268,40268,46908.547620
3,연천군,경기도,연천군,595,1150,1227,3530,4674,3297,1349,...,7786,0,0,0,2493,3639,4452,11186,2471,3150.500000
4,성산-성수,서울특별시,성동구,477,4443,7212,6333,5853,21801,1434,...,2925,0,0,0,0,2312,1979,0,0,2529.214286

In [61]:
#철새데이터 년도-월 컬럼 추가하여 데이터프레임 생성

#발생건수 데이터 불러오기
AI_m=pd.read_csv("HPAIOccurlist_final.csv")
AI_occur_m=AI.copy()
AI_occur_m.head()

#불필요한 컬럼 삭제
AI_occur_m.drop(columns=['축종'],inplace=True)
AI_occur_m.drop(columns=['사육수'],inplace=True)
AI_occur_m.drop(columns=['진단일'],inplace=True)

#datetime으로 만들기
AI_occur_m['datetime'] =AI_occur_m['발생일'].apply(lambda x: pd.to_datetime(str(x), format='%Y/%m/%d'))
AI_occur_m

# DataFrame의 index 변형하기
AI_occur_m.set_index('datetime', inplace=True) 

#년도와 월 컬럼 생성
AI_occur_m['month']=AI_occur_m.index.month
AI_occur_m['year']=AI_occur_m.index.year
AI_occur_m=AI_occur_m.reset_index()
AI_occur_m

       datetime                주소       발생일  지역코드  month  year
0    2003-12-12  충청북도 음성군 삼성면 용성리  20031212   127     12  2003
1    2003-12-17  충청북도 음성군 삼성면 덕정리  20031217   127     12  2003
2    2003-12-19  충청북도 음성군 삼성면 용성리  20031219   127     12  2003
3    2003-12-21  경상북도 경주시 안강읍 육통리  20031221   138     12  2003
4    2003-12-21  전라남도 나주시 산포면 매성리  20031221   156     12  2003
...         ...               ...       ...   ...    ...   ...
1117 2021-03-21  전라남도 장흥군 장평면 기동리  20210321   260      3  2021
1118 2021-03-22  전라남도 장흥군 장평면 기동리  20210322   260      3  2021
1119 2021-03-23  전라남도 나주시 산포면 등수리  20210323   156      3  2021
1120 2021-04-06  전라남도 장흥군 장평면 양촌리  20210406   260      4  2021
1121 2021-04-06  전라남도 장흥군 장평면 양촌리  20210406   260      4  2021

[1122 rows x 6 columns]

In [63]:
#지역별로 보기 위해 '시도', '시군' 나누기

#지역별로 보기 위해 주소컬럼만 추출
AI_occur_address=AI_occur_m['주소']
AI_occur_address=AI_occur_address.to_frame()

#주소 나누기(리스트 형태)
AI_occur_address_d=AI_occur_address['주소'].str.split(' ',2).tolist()
AI_occur_address_d

[['충청북도', '음성군', '삼성면 용성리'],
 ['충청북도', '음성군', '삼성면 덕정리'],
 ['충청북도', '음성군', '삼성면 용성리'],
 ['경상북도', '경주시', '안강읍 육통리'],
 ['전라남도', '나주시', '산포면 매성리'],
 ['충청남도', '천안시', '동남구 북면 운용리'],
 ['충청북도', '진천군', '진천읍 신정리'],
 ['충청북도', '음성군', '대소면 태생리'],
 ['충청북도', '음성군', '대소면 태생리'],
 ['충청남도', '천안시', '직산읍 판정리'],
 ['경상북도', '경주시', '안강읍 육통리'],
 ['경상북도', '경주시', '안강읍 육통리'],
 ['경상북도', '경주시', '안강읍 육통리'],
 ['전라남도', '나주시', '산포면 매성리'],
 ['경기도', '이천시', '율면 신추리'],
 ['경기도', '이천시', '율면 신추리'],
 ['충청남도', '천안시', '서북구 직산읍 신갈리'],
 ['울산광역시', '울주군', '상북면 명촌리'],
 ['울산광역시', '울주군', '상북면 명촌리'],
 ['충청남도', '천안시', '서북구 직산읍 석곡리'],
 ['경상남도', '양산시', '하북면 백록리'],
 ['충청남도', '천안시', '풍세면 용정리'],
 ['충청남도', '아산시', '탕정면 용두리'],
 ['경기도', '양주시', '은현면 하패리'],
 ['경기도', '양주시', '은현면 하패리'],
 ['전라북도', '익산시', '함열읍 석매리'],
 ['전라북도', '익산시', '함열읍 석매리'],
 ['전라북도', '익산시', '황등면 죽촌리'],
 ['전라북도', '김제시', '공덕면 마현리'],
 ['충청남도', '아산시', '탕정면 용두리'],
 ['충청남도', '아산시', '탕정면 용두리'],
 ['충청남도', '천안시', '동남구 풍세면 용정리'],
 ['충청남도', '천안시', '동남구 풍세면 용정리'],
 ['경기도', '안성시', '일죽면 장암리'],
 ['충청남도', '천안시', '동남구 동면 화계리'],
 ['전라북도', '김제시', '용지면 용암리'],
 ['전라북도', '정읍시', '영원면 앵성리'],
 ['전라북도', '정읍시', '영원면 앵성리'],
 ['전라북도', '정읍시', '고부면 관청리'],
 ['전라북도', '정읍시', '영원면 은선리'],
 ['전라북도', '김제시', '용지면 용수리'],
 ['전라북도', '김제시', '용지면 용수리'],
 ['전라북도', '김제시', '용지면 용수리'],
 ['전라남도', '영암군', '신북면 월지리'],
 ['전라남도', '영암군', '신북면 월지리'],
 ['전라북도', '김제시', '용지면 용암리'],
 ['전라북도', '김제시', '용지면 용암리'],
 ['경기도', '평택시', '포승면 석정리'],
 ['경기도', '평택시', '포승면 석정리'],
 ['전라북도', '김제시', '금산면 청도리'],
 ['전라북도', '순창군', '동계면 현포리'],
 ['전라북도', '김제시', '백구면 마산리'],
 ['전라북도', '김제시', '용지면 구암리'],
 ['전라북도', '정읍시', '소성면 화룡리'],
 ['전라북도', '익산시', '용동면 흥왕리'],
 ['전라북도', '김제시', '금구면 하신리'],
 ['전라북도', '익산시', '여산면 두여리'],
 ['충청남도', '논산시', '부적면 외성리'],
 ['경상북도', '영천시', '오미동'],
 ['경상북도', '영천시', '오미동'],
 ['울산광역시', '울주군', '웅촌면'],
 ['대구광역시', '수성구', '만촌동'],
 ['대구광역시', '수성구', '만촌동'],
 ['경기도', '안성시', '미양면 강덕리'],
 ['서울특별시', '광진구', '자양동'],
 ['경기도', '안성시', '미양면 강덕리'],
 ['서울특별시', '광진구', '자양동'],
 ['강원도', '춘천시', '사북면 지촌리'],
 ['강원도', '춘천시', '사북면 지촌리'],
 ['부산광역시', '강서구', '대저1동'],
 ['경기도', '안성시', '공도읍 중복리'],
 ['경기도', '안성시', '공도읍 중복리'],
 ['부산광역시', '해운대구', '반여동'],
 ['부산광역시', '기장군', '장안읍 장안리'],
 ['서울특별시', '송파구', '장지동'],
 ['서울특별시', '송파구', '장지동'],
 ['경상북도', '경산시', '갑제동'],
 ['경상남도', '양산시', '상북면 상삼리'],
 ['경상북도', '경산시', '갑제동'],
 ['경상남도', '양산시', '상북면 상삼리'],
 ['충청남도', '천안시', '동남구 풍세면 풍서리'],
 ['전라북도', '익산시', '망성면 무형리'],
 ['전라북도', '익산시', '망성면 무형리'],
 ['전라남도', '영암군', '시종면 봉소리'],
 ['전라남도', '나주시', '공산면 남창리'],
 ['전라남도', '영암군', '시종면 신연리'],
 ['전라남도', '나주시', '세지면 성산리'],
 ['전라남도', '영암군', '시종면 신연리'],
 ['전라남도', '나주시', '세지면 동곡리'],
 ['전라남도', '영암군', '시종면 신연리'],
 ['전라남도', '나주시', '남평읍 광이리'],
 ['충청남도', '아산시', '음봉면 산동리'],
 ['전라남도', '나주시', '동강면 장동리'],
 ['경기도', '안성시', '서운면 신흥리'],
 ['전라남도', '화순군', '청풍면 대비리'],
 ['전라남도', '영암군', '도포면 원항리'],
 ['전라남도', '영암군', '신북면 월지리'],
 ['전라남도', '영암군', '도포면 구학리'],
 ['전라남도', '나주시', '산포면 화지리'],
 ['전라남도', '영암군', '군서면 해창리'],
 ['전라남도', '나주시', '산포면 덕례리'],
 ['경기도', '안성시', '일죽면 산북리'],
 ['전라남도', '장흥군', '장평면 기동리'],
 ['전라남도', '나주시', '문평면 옥당리'],
 ['전라남도', '여수시', '만흥동'],
 ['경기도', '안성시', '미양면 강덕리'],
 ['경기도', '이천시', '설성면 행죽리'],
 ['경기도', '안성시', '미양면 고지리'],
 ['충청남도', '천안시', '서북구 직산읍 판정리'],
 ['충청남도', '천안시', '서북구 직산읍 판정리'],
 ['경기도', '파주시', '광탄면 창만리'],
 ['충청남도', '천안시', '서북구 직산읍 석곡리'],
 ['경기도', '양주시', '남면 경신리'],
 ['전라남도', '보성군', '노동면 명봉리'],
 ['전라남도', '영암군', '덕진면 장선리'],
 ['경기도', '이천시', '설성면 장능리'],
 ['경기도', '이천시', '설성면 장천리'],
 ['경상북도', '성주군', '용암면 덕평리'],
 ['전라북도', '고창군', '아산면 반암리'],
 ['경기도', '평택시', '청북면 현곡리'],
 ['경기도', '평택시', '팽성읍 대사리'],
 ['경기도', '평택시', '안중읍 성해리'],
 ['경기도', '화성시', '팔탄면 서근리'],
 ['경기도', '동두천시', '하봉암동'],
 ['경기도', '이천시', '설성면 상봉리'],
 ['경기도', '여주시', '능서면 광대리'],
 ['경상남도', '양산시', '동면 내송리'],
 ['전라남도', '담양군', '담양읍 반룡리'],
 ['전라남도', '고흥군', '도덕면 용동리'],
 ['충청남도', '천안시', '동남구 북면 운용리'],
 ['경기도', '용인시', '처인구 백암면 박곡리'],
 ['경상북도', '영천시', '서산동'],
 ['경상북도', '영천시', '오수동'],
 ['경기도', '연천군', '미산면 백석리'],
 ['전라북도', '고창군', '신림면 무림리'],
 ['전라북도', '부안군', '줄포면 신리'],
 ['전라북도', '부안군', '줄포면 신리'],
 ['전라북도', '고창군', '성내면 신성리'],
 ['전라북도', '부안군', '줄포면 신리'],
 ['전라북도', '고창군', '해리면 사반리'],
 ['전라북도', '부안군', '줄포면 신리'],
 ['전라북도', '고창군', '성내면 신성리'],
 ['전라북도', '고창군', '성내면 신성리'],
 ['전라북도', '고창군', '신림면 벽송리'],
 ['전라북도', '부안군', '줄포면 신리'],
 ['전라북도', '고창군', '흥덕면 용반리'],
 ['전라북도', '부안군', '줄포면 줄포리'],
 ['전라북도', '고창군', '성내면 신성리'],
 ['전라북도', '고창군', '성내면 신성리'],
 ['전라북도', '고창군', '성내면 신성리'],
 ['전라북도', '군산시', '나포면 나포리'],
 ['충청남도', '서천군', '화양면 옥포리'],
 ['전라북도', '부안군', '줄포면 파산리'],
 ['전라북도', '정읍시', '고부면 백운리'],
 ['전라북도', '부안군', '줄포면 우포리'],
 ['전라북도', '고창군', '성내면 신성리'],
 ['전라북도', '고창군', '성내면 신성리'],
 ['충청남도', '서천군', '마서면 도삼리'],
 ['전라북도', '고창군', '부안면 운양리'],
 ['충청남도', '부여군', '홍산면 북촌리'],
 ['전라북도', '고창군', '흥덕면 사천리'],
 ['전라북도', '부안군', '줄포면 장동리'],
 ['전라남도', '해남군', '송지면 마봉리'],
 ['전라북도', '고창군', '성내면 신성리'],
 ['충청남도', '당진시', '우강면 부장리'],
 ['전라북도', '고창군', '해리면 왕촌리'],
 ['전라북도', '부안군', '줄포면 파산리'],
 ['전라북도', '부안군', '줄포면 난산리'],
 ['전라북도', '정읍시', '이평면 청량리'],
 ['전라북도', '부안군', '줄포면 파산리'],
 ['전라북도', '부안군', '줄포면 파산리'],
 ['충청남도', '천안시', '서북구 직산읍 판정리'],
 ['전라남도', '나주시', '세지면 오봉리'],
 ['전라북도', '부안군', '계화면 양산리'],
 ['충청북도', '진천군', '이월면 삼용리'],
 ['전라북도', '임실군', '청웅면 옥전리'],
 ['충청남도', '서천군', '화양면 화촌리'],
 ['경상남도', '밀양시', '초동면 덕산리'],
 ['전라남도', '영암군', '덕진면 장선리'],
 ['경기도', '화성시', '서신면 전곡리'],
 ['전라북도', '부안군', '계화면 양산리'],
 ['경기도', '수원시', '팔달구 인계동'],
 ['전라남도', '신안군', '암태면 기동리'],
 ['충청북도', '진천군', '이월면 삼용리'],
 ['전라북도', '부안군', '동진면 동전리'],
 ['전라북도', '정읍시', '영원면 앵성리'],
 ['전라북도', '정읍시', '영원면 앵성리'],
 ['전라북도', '정읍시', '이평면 청량리'],
 ['전라북도', '정읍시', '입암면 하부리'],
 ['충청북도', '진천군', '이월면 동성리'],
 ['전라북도', '정읍시', '이평면 장내리'],
 ['충청북도', '진천군', '이월면 동성리'],
 ['충청북도', '진천군', '이월면 동성리'],
 ['충청북도', '음성군', '대소면 미곡리'],
 ['인천광역시', '옹진군', '영흥면 내리'],
 ['충청북도', '진천군', '이월면 삼용리'],
 ['충청북도', '진천군', '덕산면 인산리'],
 ['충청북도', '진천군', '이월면 중산리'],
 ['충청북도', '진천군', '초평면 오갑리'],
 ['충청북도', '음성군', '대소면 삼정리'],
 ['충청북도', '음성군', '대소면 미곡리'],
 ['충청북도', '진천군', '덕산면 인산리'],
 ['충청남도', '천안시', '동남구 풍세면 보성리'],
 ['충청북도', '진천군', '덕산면 인산리'],
 ['충청북도', '음성군', '대소면 미곡리'],
 ['전라북도', '정읍시', '입암면 접지리'],
 ['경기도', '화성시', '팔탄면 율암리'],
 ['전라북도', '정읍시', '이평면 장내리'],
 ['충청북도', '진천군', '덕산면 구산리'],
 ['충청북도', '진천군', '이월면 중산리'],
 ['경기도', '화성시', '온석동'],
 ['충청북도', '음성군', '대소면 미곡리'],
 ['경기도', '화성시', '온석동'],
 ['전라남도', '영암군', '도포면 덕화리'],
 ['경기도', '화성시', '온석동'],
 ['전라남도', '영암군', '삼호읍 용당리'],
 ['전라남도', '영암군', '영암읍 송평리'],
 ['경기도', '안성시', '미양면 강덕리'],
 ['전라남도', '영암군', '덕진면 용산리'],
 ['전라남도', '신안군', '압해읍 신장리'],
 ['전라남도', '영암군', '삼호읍 용당리'],
 ['전라북도', '익산시', '웅포면 고창리'],
 ['경기도', '안성시', '미양면 강덕리'],
 ['전라남도', '영암군', '군서면 양장리'],
 ['충청남도', '천안시', '동남구 풍세면 보성리'],
 ['전라북도', '정읍시', '입암면 접지리'],
 ['경기도', '안성시', '미양면 고지리'],
 ['전라북도', '정읍시', '입암면 접지리'],
 ['충청남도', '천안시', '동남구 풍세면 보성리'],
 ['전라북도', '정읍시', '삼산동'],
 ['경기도', '화성시', '팔탄면 율암리'],
 ['충청남도', '청양군', '운곡면 위라리'],
 ['경기도', '안성시', '미양면 고지리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['전라북도', '김제시', '용지면 반교리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['전라남도', '해남군', '마산면 송석리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청남도', '천안시', '동남구 풍세면 용정리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '음성군', '대소면 부윤리'],
 ['충청북도', '음성군', '대소면 부윤리'],
 ['충청북도', '음성군', '대소면 부윤리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '음성군', '맹동면 용촌리'],
 ['충청북도', '음성군', '맹동면 마산리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '음성군', '맹동면 용촌리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '음성군', '맹동면 마산리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '음성군', '대소면 수태리'],
 ['충청북도', '음성군', '맹동면 마산리'],
 ['충청북도', '음성군', '맹동면 마산리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '음성군', '맹동면 본성리'],
 ['충청북도', '음성군', '맹동면 마산리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '음성군', '맹동면 용촌리'],
 ['전라남도', '영암군', '시종면 금지리'],
 ['충청북도', '음성군', '대소면 수태리'],
 ['전라남도', '함평군', '신광면 가덕리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['경기도', '안성시', '미양면 정동리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['전라남도', '영암군', '시종면 금지리'],
 ['전라북도', '김제시', '공덕면 동계리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청남도', '논산시', '연무읍 마전리'],
 ['전라남도', '영암군', '신북면 월지리'],
 ['충청북도', '음성군', '대소면 성본리'],
 ['충청북도', '음성군', '삼성면 청용리'],
 ['충청북도', '음성군', '삼성면 청용리'],
 ['경기도', '평택시', '팽성읍 대사리'],
 ['충청북도', '음성군', '대소면 오류리'],
 ['충청남도', '천안시', '동남구 풍세면 보성리'],
 ['충청남도', '천안시', '동남구 병천면 도원리'],
 ['경기도', '안성시', '공도읍 건천리'],
 ['충청북도', '음성군', '맹동면 인곡리'],
 ['전라남도', '영광군', '홍농읍 신석리'],
 ['충청북도', '음성군', '삼성면 청용리'],
 ['충청북도', '음성군', '삼성면 천평리'],
 ['경기도', '안성시', '공도읍 건천리'],
 ['경기도', '화성시', '남양읍 온석리'],
 ['경기도', '수원시', '영통구 하동'],
 ['충청남도', '천안시', '동남구 풍세면 보성리'],
 ['충청남도', '청양군', '청남면 왕진리'],
 ['충청남도', '천안시', '서북구 성환읍 어룡리'],
 ['경기도', '평택시', '고덕면 율포리'],
 ['충청북도', '진천군', '문백면 계산리'],
 ['전라남도', '순천시', '낙안면 검암리'],
 ['전라남도', '영광군', '묘량면 영양리'],
 ['전라북도', '익산시', '함열읍 다송리'],
 ['충청북도', '청주시', '청원구 북이면 대길리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['전라남도', '영암군', '시종면 신학리'],
 ['전라북도', '순창군', '동계면 관전리'],
 ['전라북도', '김제시', '청하면 장산리'],
 ['충청남도', '홍성군', '서부면 판교리'],
 ['세종특별자치시', '소정면', '고등리'],
 ['충청남도', '천안시', '동남구 병천면 도원리'],
 ['충청남도', '천안시', '동남구 병천면 탑원리'],
 ['경기도', '평택시', '청북면 고잔리'],
 ['전라북도', '순창군', '동계면 현포리'],
 ['충청남도', '천안시', '동남구 동면 화계리'],
 ['충청남도', '당진시', '신평면 금천리'],
 ['경기도', '안성시', '일죽면 화봉리'],
 ['경상북도', '경주시', '천북면 신당리'],
 ['경상북도', '경주시', '천북면 화산리'],
 ['전라남도', '영광군', '묘량면 덕흥리'],
 ['경기도', '과천시', '문원동'],
 ['전라북도', '전주시', '덕진구 송천동2가'],
 ['전라남도', '나주시', '반남면 흥덕리'],
 ['전라남도', '나주시', '반남면 흥덕리'],
 ['충청남도', '당진시', '정미면 대운산리'],
 ['세종특별자치시', '소정면', '대곡리'],
 ['충청남도', '천안시', '동남구 풍세면 가송리'],
 ['세종특별자치시', '부강면', '등곡리'],
 ['경기도', '안성시', '일죽면 신흥리'],
 ['전라남도', '함평군', '월야면 외치리'],
 ['전라남도', '나주시', '반남면 흥덕리'],
 ['전라남도', '나주시', '노안면 영평리'],
 ['전라남도', '나주시', '반남면 흥덕리'],
 ['전라남도', '나주시', '반남면 흥덕리'],
 ['전라남도', '나주시', '반남면 흥덕리'],
 ['전라남도', '나주시', '반남면 흥덕리'],
 ['충청남도', '천안시', '동남구 목천읍 운전리'],
 ['충청북도', '청주시', '서원구 현도면 중척리'],
 ['전라남도', '나주시', '동강면 장동리'],
 ['충청남도', '천안시', '동남구 성남면 대흥리'],
 ['전라남도', '함평군', '월야면 외치리'],
 ['경기도', '안성시', '일죽면 능국리'],
 ['전라남도', '영암군', '시종면 봉소리'],
 ['전라남도', '영암군', '시종면 옥야리'],
 ['충청북도', '증평군', '도안면 화성리'],
 ['충청남도', '천안시', '동남구 수신면 신풍리'],
 ['전라남도', '나주시', '공산면 가송리'],
 ['전라남도', '장흥군', '부산면 호계리'],
 ['전라남도', '나주시', '공산면 중포리'],
 ['전라남도', '나주시', '공산면 동촌리'],
 ['세종특별자치시', '소정면', '소정리'],
 ['전라북도', '진안군', '부귀면 오룡리'],
 ['경기도', '안성시', '일죽면 능국리'],
 ['전라남도', '나주시', '동강면 양지리'],
 ['충청남도', '천안시', '동남구 성남면 대흥리'],
 ['전라남도', '나주시', '공산면 가송리'],
 ['충청남도', '천안시', '동남구 성남면 석곡리'],
 ['충청남도', '천안시', '동남구 성남면 석곡리'],
 ['경상남도', '하동군', '적량면 고절리'],
 ['전라북도', '고창군', '고수면 인성리'],
 ['전라북도', '고창군', '고수면 장두리'],
 ['전라북도', '고창군', '고수면 장두리'],
 ['경기도', '이천시', '율면 본죽리'],
 ['충청북도', '진천군', '문백면 도하리'],
 ['울산광역시', '울주군', '서생면 나사리'],
 ['전라남도', '강진군', '성전면 금당리'],
 ['경기도', '이천시', '율면 석산리'],
 ['충청남도', '공주시', '탄천면 남산리'],
 ['전라남도', '담양군', '봉산면 대추리'],
 ['전라남도', '담양군', '대전면 대치리'],
 ['강원도', '횡성군', '횡성읍 학곡리'],
 ['대구광역시', '달성군', '옥포면 본리리'],
 ['전라남도', '무안군', '현경면 현화리'],
 ['경기도', '안성시', '중리동'],
 ['전라남도', '영암군', '군서면 양장리'],
 ['전라남도', '나주시', '반남면 흥덕리'],
 ['전라남도', '함평군', '월야면 외치리'],
 ['전라남도', '곡성군', '옥과면 리문리'],
 ['전라남도', '함평군', '월야면 외치리'],
 ['전라남도', '함평군', '월야면 외치리'],
 ['전라남도', '영암군', '도포면 구학리'],
 ['전라남도', '영암군', '도포면 구학리'],
 ['전라남도', '영암군', '신북면 월지리'],
 ['전라남도', '영암군', '도포면 구학리'],
 ['전라남도', '영암군', '신북면 월지리'],
 ['전라남도', '곡성군', '옥과면 리문리'],
 ['전라남도', '영암군', '도포면 구학리'],
 ['전라남도', '곡성군', '석곡면 석곡리'],
 ['전라남도', '무안군', '일로읍 월암리'],
 ['전라남도', '담양군', '용면 쌍태리'],
 ['전라남도', '무안군', '일로읍 월암리'],
 ['전라남도', '영암군', '시종면 신학리'],
 ['전라남도', '영암군', '시종면 봉소리'],
 ['전라남도', '영암군', '시종면 월롱리'],
 ['전라남도', '영암군', '시종면 봉소리'],
 ['전라남도', '영암군', '시종면 옥야리'],
 ['전라남도', '영암군', '시종면 월롱리'],
 ['전라남도', '담양군', '담양읍 만성리'],
 ['전라남도', '나주시', '남평읍 풍림리'],
 ['전라남도', '영암군', '시종면 와우리'],
 ['전라남도', '영암군', '시종면 신학리'],
 ['전라남도', '장흥군', '장평면 청용리'],
 ['전라남도', '나주시', '산포면 등수리'],
 ['전라남도', '나주시', '산포면 덕례리'],
 ['전라남도', '화순군', '북면 송단리'],
 ['전라남도', '장흥군', '장평면 청용리'],
 ['전라남도', '나주시', '산포면 덕례리'],
 ['전라남도', '무안군', '현경면 해운리'],
 ['전라남도', '곡성군', '겸면 현정리'],
 ['전라북도', '김제시', '금구면 용지리'],
 ['전라남도', '보성군', '겸백면 수남리'],
 ['전라북도', '김제시', '금구면 낙성리'],
 ['전라북도', '김제시', '금구면 용지리'],
 ['경상북도', '경주시', '산내면 대현리'],
 ['전라남도', '영암군', '시종면 신흥리'],
 ['전라남도', '나주시', '노안면 오정리'],
 ['경상남도', '양산시', '명곡동'],
 ['경기도', '성남시', '중원구 성남동'],
 ['경기도', '성남시', '중원구 성남동'],
 ['경기도', '성남시', '중원구 성남동'],
 ['경기도', '성남시', '중원구 성남동'],
 ['경기도', '성남시', '수정구 태평동'],
 ['전라남도', '무안군', '일로읍 지장리'],
 ['전라남도', '무안군', '일로읍 지장리'],
 ['경기도', '안성시', '미양면 고지리'],
 ['전라남도', '무안군', '일로읍 감돈리'],
 ['경기도', '광주시', '오포읍 양벌리'],
 ['부산광역시', '강서구', '대저2동'],
 ['부산광역시', '강서구', '대저2동'],
 ['전라북도', '정읍시', '소성면 고교리'],
 ['전라남도', '무안군', '일로읍 죽산리'],
 ['전라북도', '정읍시', '소성면 고교리'],
 ['경기도', '여주시', '가남읍 하귀리'],
 ['경기도', '안성시', '미양면 정동리'],
 ['경상남도', '고성군', '거류면 은월리'],
 ['경기도', '안성시', '미양면 정동리'],
 ['전라북도', '정읍시', '소성면 고교리'],
 ['경기도', '포천시', '영중면 거사리'],
 ['경기도', '이천시', '장호원읍 나래리'],
 ['경기도', '안성시', '미양면 강덕리'],
 ['경기도', '안성시', '미양면 강덕리'],
 ['전라남도', '나주시', '세지면 죽동리'],
 ['전라남도', '나주시', '세지면 죽동리'],
 ['전라남도', '나주시', '세지면 죽동리'],
 ['전라남도', '나주시', '세지면 죽동리'],
 ['경상남도', '고성군', '거류면 은월리'],
 ['전라남도', '구례군', '용방면 중방리'],
 ['전라남도', '구례군', '용방면 중방리'],
 ['경기도', '수원시', '팔달구 화서동'],
 ['전라남도', '구례군', '용방면 신도리'],
 ['전라남도', '구례군', '용방면 신도리'],
 ['전라남도', '구례군', '용방면 신도리'],
 ['전라남도', '나주시', '세지면 죽동리'],
 ['충청남도', '천안시', '동남구 성남면 대흥리'],
 ['전라남도', '나주시', '세지면 죽동리'],
 ['전라북도', '부안군', '동진면 동전리'],
 ['전라남도', '나주시', '세지면 죽동리'],
 ['경기도', '여주시', '능서면 광대리'],
 ['경기도', '여주시', '가남읍 금당리'],
 ['경기도', '김포시', '통진읍 가현리'],
 ['충청남도', '천안시', '동남구 성남면 대흥리'],
 ['경기도', '안성시', '서운면 신흥리'],
 ['경기도', '안성시', '보개면 내방리'],
 ['전라북도', '부안군', '동진면 동전리'],
 ['경기도', '안성시', '보개면 양복리'],
 ['경기도', '안성시', '서운면 신흥리'],
 ['전라남도', '나주시', '세지면 오봉리'],
 ['울산광역시', '남구', '상개동'],
 ['울산광역시', '남구', '상개동'],
 ['전라남도', '구례군', '용방면 신도리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['전라북도', '정읍시', '정우면 대사리'],
 ['충청북도', '음성군', '대소면 부윤리'],
 ['충청북도', '음성군', '금왕읍 삼봉리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['경기도', '안성시', '삼죽면 마전리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '음성군', '맹동면 용촌리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['경기도', '이천시', '설성면 장천리'],
 ['충청북도', '음성군', '대소면 부윤리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '음성군', '맹동면 용촌리'],
 ['충청북도', '음성군', '대소면 수태리'],
 ['충청북도', '음성군', '맹동면 마산리'],
 ['충청북도', '음성군', '맹동면 마산리'],
 ['충청북도', '음성군', '맹동면 용촌리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '음성군', '맹동면 인곡리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['전라북도', '군산시', '서수면 마룡리'],
 ['충청북도', '진천군', '덕산면 용몽리'],
 ['전라북도', '익산시', '신흥동'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '진천군', '문백면 봉죽리'],
 ['전라남도', '구례군', '용방면 용정리'],
 ['전라남도', '구례군', '용방면 용정리'],
 ['충청북도', '음성군', '맹동면 마산리'],
 ['충청북도', '음성군', '맹동면 마산리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '음성군', '대소면 수태리'],
 ['충청북도', '음성군', '맹동면 마산리'],
 ['경기도', '안성시', '금광면 내우리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['경기도', '안성시', '금광면 개산리'],
 ['충청남도', '홍성군', '장곡면 신풍리'],
 ['충청남도', '천안시', '동남구 풍세면 용정리'],
 ['충청남도', '청양군', '비봉면 양사리'],
 ['충청북도', '음성군', '금왕읍 내송리'],
 ['전라남도', '구례군', '용방면 용강리'],
 ['충청북도', '음성군', '맹동면 본성리'],
 ['충청북도', '음성군', '금왕읍 본대리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '음성군', '생극면 병암리'],
 ['전라북도', '정읍시', '고부면 관청리'],
 ['충청남도', '아산시', '신창면 궁화리'],
 ['전라북도', '김제시', '용지면 용수리'],
 ['전라북도', '김제시', '용지면 용수리'],
 ['전라북도', '김제시', '용지면 용수리'],
 ['전라북도', '김제시', '용지면 신정리'],
 ['전라북도', '김제시', '용지면 용수리'],
 ['전라북도', '김제시', '용지면 용수리'],
 ['전라북도', '김제시', '용지면 용수리'],
 ['전라북도', '김제시', '용지면 신정리'],
 ['전라북도', '김제시', '용지면 신정리'],
 ['전라북도', '김제시', '용지면 장신리'],
 ['경기도', '안성시', '미양면 법전리'],
 ['경기도', '의정부시', '용현동'],
 ['전라북도', '김제시', '용지면 장신리'],
 ['경기도', '포천시', '창수면 추동리'],
 ['경기도', '포천시', '창수면 추동리'],
 ['경기도', '포천시', '일동면 길명리'],
 ['전라북도', '정읍시', '입암면 단곡리'],
 ['전라남도', '강진군', '성전면 금당리'],
 ['전라남도', '영암군', '덕진면 용산리'],
 ['경기도', '양주시', '광적면 우고리'],
 ['경기도', '양주시', '광적면 우고리'],
 ['전라남도', '영암군', '덕진면 장선리'],
 ['전라남도', '영암군', '신북면 월지리'],
 ['전라남도', '영암군', '신북면 월지리'],
 ['전라남도', '영암군', '신북면 행정리'],
 ['전라남도', '영암군', '덕진면 금강리'],
 ['전라남도', '강진군', '칠량면 삼흥리'],
 ['전라남도', '나주시', '노안면 오정리'],
 ['전라남도', '담양군', '담양읍 담주리'],
 ['광주광역시', '북구', '우산동'],
 ['전라남도', '담양군', '담양읍 만성리'],
 ['광주광역시', '광산구', '신창동'],
 ['전라남도', '강진군', '강진읍 덕남리'],
 ['전라남도', '영암군', '신북면 월지리'],
 ['전라남도', '영암군', '시종면 금지리'],
 ['전라남도', '영암군', '도포면 영호리'],
 ['전라남도', '영암군', '신북면 월지리'],
 ['전라남도', '영암군', '도포면 구학리'],
 ['전라남도', '영암군', '신북면 월지리'],
 ['전라남도', '나주시', '반남면 흥덕리'],
 ['전라남도', '영암군', '도포면 구학리'],
 ['전라남도', '영암군', '도포면 구학리'],
 ['전라남도', '영암군', '도포면 영호리'],
 ['경기도', '이천시', '마장면 이치리'],
 ['경기도', '광주시', '남한산성면 불당리'],
 ['충청북도', '음성군', '맹동면 용촌리'],
 ['전라남도', '해남군', '산이면 금송리'],
 ['충청북도', '청원군', '북이면 토성리'],
 ['충청북도', '음성군', '맹동면 용촌리'],
 ['충청북도', '음성군', '대소면 수태리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['전라남도', '무안군', '일로읍 의산리'],
 ['충청북도', '음성군', '맹동면 마산리'],
 ['충청북도', '음성군', '맹동면 마산리'],
 ['충청북도', '음성군', '맹동면 마산리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '음성군', '맹동면 용촌리'],
 ['경기도', '양주시', '백석읍 가업리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '음성군', '맹동면 마산리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '음성군', '맹동면 신돈리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['전라북도', '김제시', '금구면 용지리'],
 ['충청북도', '음성군', '대소면 부윤리'],
 ['충청북도', '음성군', '맹동면 본성리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '음성군', '맹동면 마산리'],
 ['충청남도', '아산시', '신창면 행목리'],
 ['경기도', '포천시', '영북면 자일리'],
 ['충청북도', '진천군', '이월면 삼용리'],
 ['충청북도', '음성군', '금왕읍 삼봉리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['충청북도', '음성군', '삼성면 용대리'],
 ['충청북도', '진천군', '이월면 삼용리'],
 ['충청북도', '음성군', '삼성면 용대리'],
 ['충청북도', '진천군', '이월면 미잠리'],
 ['충청남도', '천안시', '동남구 동면 동산리'],
 ['충청북도', '진천군', '초평면 오갑리'],
 ['충청북도', '진천군', '초평면 오갑리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['세종특별자치시', '전동면', '보덕리'],
 ['경기도', '안성시', '대덕면 보동리'],
 ['충청북도', '음성군', '맹동면 봉현리'],
 ['경기도', '양주시', '백석읍 가업리'],
 ['경기도', '이천시', '설성면 장천리'],
 ['경기도', '이천시', '부발읍 가산리'],
 ['충청남도', '천안시', '동남구 병천면 봉항리'],
 ['충청북도', '음성군', '감곡면 단평리'],
 ['충청북도', '음성군', '원남면 덕정리'],
 ['충청북도', '진천군', '이월면 삼용리'],
 ['충청북도', '진천군', '이월면 삼용리'],
 ['충청북도', '진천군', '문백면 계산리'],
 ['경기도', '평택시', '고덕면 두릉리'],
 ['충청북도', '진천군', '이월면 삼용리'],
 ['충청북도', '청주시', '흥덕구 오송읍 쌍청리'],
 ['충청북도', '진천군', '이월면 삼용리'],
 ['경기도', '양주시', '백석읍 오산리'],
 ['충청북도', '진천군', '이월면 동성리'],
 ['경기도', '화성시', '양감면 사창리'],
 ['전라남도', '나주시', '공산면 중포리'],
 ['충청북도', '진천군', '덕산면 인산리'],
 ['충청북도', '괴산군', '소수면 수리'],
 ['충청북도', '진천군', '덕산면 구산리'],
 ['전라남도', '장성군', '남면 마령리'],
 ['경기도', '이천시', '설성면 신필리'],
 ['세종특별자치시', '전동면', '심중리'],
 ['충청북도', '진천군', '덕산면 합목리'],
 ['강원도', '철원군', '갈말읍 강포리'],
 ['충청북도', '청주시', '흥덕구 오송읍 동평리'],
 ['충청남도', '천안시', '동남구 풍세면 보성리'],
 ['충청북도', '진천군', '덕산면 기전리'],
 ['충청남도', '천안시', '동남구 동면 화계리'],
 ['충청북도', '음성군', '금왕읍 유포리'],
 ['충청북도', '진천군', '덕산면 화상리'],
 ['충청북도', '괴산군', '소수면 아성리'],
 ['충청북도', '진천군', '진천읍 상신리'],
 ['충청북도', '음성군', '삼성면 능산리'],
 ['충청남도', '아산시', '인주면 해암리'],
 ['충청북도', '진천군', '덕산면 화상리'],
 ['충청남도', '아산시', '신창면 읍내리'],
 ['충청북도', '청주시', '흥덕구 오송읍 오송리'],
 ['경기도', '이천시', '율면 석산리'],
 ['세종특별자치시', '연동면', '응암리'],
 ['경기도', '양평군', '지평면 수곡리'],
 ['충청남도', '아산시', '신창면 읍내리'],
 ['충청북도', '진천군', '이월면 중산리'],
 ['경기도', '이천시', '모가면 원두리'],
 ['경기도', '포천시', '영북면 자일리'],
 ['경기도', '포천시', '영북면 자일리'],
 ['경기도', '포천시', '영북면 자일리'],
 ['경기도', '포천시', '영북면 자일리'],
 ['충청남도', '천안시', '동남구 풍세면 용정리'],
 ['경기도', '안성시', '원곡면 외가천리'],
 ['경기도', '이천시', '설성면 행죽리'],
 ['충청북도', '진천군', '이월면 삼용리'],
 ['충청남도', '천안시', '동남구 풍세면 가송리'],
 ['충청북도', '음성군', '삼성면 용대리'],
 ['경기도', '이천시', '대월면 초지리'],
 ['경기도', '평택시', '청북면 고잔리'],
 ['충청북도', '충주시', '대소원면 만정리'],
 ['충청남도', '아산시', '선장면 대흥리'],
 ['전라북도', '정읍시', '고부면 용흥리'],
 ['세종특별자치시', '부강면', '등곡리'],
 ['충청북도', '음성군', '원남면 덕정리'],
 ['충청남도', '천안시', '동남구 풍세면 보성리'],
 ['충청북도', '괴산군', '소수면 아성리'],
 ['충청북도', '음성군', '대소면 성본리'],
 ['경기도', '이천시', '설성면 신필리'],
 ['충청북도', '진천군', '문백면 계산리'],
 ['전라북도', '정읍시', '고부면 관청리'],
 ['전라북도', '정읍시', '고부면 용흥리'],
 ['전라북도', '정읍시', '고부면 관청리'],
 ['전라남도', '나주시', '동강면 장동리'],
 ['경기도', '포천시', '영북면 자일리'],
 ['경기도', '포천시', '영북면 자일리'],
 ['경기도', '포천시', '영북면 자일리'],
 ['전라북도', '정읍시', '고부면 관청리'],
 ['경기도', '이천시', '설성면 장능리'],
 ['경기도', '포천시', '관인면 탄동리'],
 ['경기도', '포천시', '영북면 야미리'],
 ['경기도', '안성시', '일죽면 산북리'],
 ['경기도', '이천시', '설성면 암산리'],
 ['경기도', '포천시', '영북면 자일리'],
 ['경기도', '포천시', '영북면 자일리'],
 ['충청북도', '진천군', '덕산면 구산리'],
 ['경기도', '여주시', '가남읍 은봉리'],
 ['경기도', '여주시', '능서면 마래리'],
 ['전라남도', '나주시', '남평읍 상곡리'],
 ['충청남도', '천안시', '동남구 동면 화계리'],
 ['전라남도', '나주시', '남평읍 상곡리'],
 ['강원도', '철원군', '갈말읍 강포리'],
 ['충청북도', '청주시', '흥덕구 강내면 궁현리'],
 ['충청남도', '아산시', '신창면 오목리'],
 ['충청북도', '음성군', '원남면 하노리'],

In [80]:
#리스트형태 데이터프레임으로 만들어주기
AI_occur_address_de=pd.DataFrame(AI_occur_address['주소'].str.split(' ',2).tolist())

#컬럼명 넣기
AI_occur_address_t=pd.DataFrame(AI_occur_address['주소'].str.split(' ',2).tolist(),
                                    columns=['시도','시군구','읍면동'])
AI_occur_address_t

#필요없는 행 삭제
AI_occur_address_total=AI_occur_address_t.drop(columns='읍면동',inplace=False)
AI_occur_address_total

        시도  시군구
0     충청북도  음성군
1     충청북도  음성군
2     충청북도  음성군
3     경상북도  경주시
4     전라남도  나주시
...    ...  ...
1117  전라남도  장흥군
1118  전라남도  장흥군
1119  전라남도  나주시
1120  전라남도  장흥군
1121  전라남도  장흥군

[1122 rows x 2 columns]

In [82]:
#발생건수 데이터와 '시도', '시군' 합쳐주기
AI_occur_month=pd.concat([AI_occur_address_total,AI_occur_m],axis=1)
AI_occur_month.head()

     시도  시군구   datetime                주소       발생일  지역코드  month  year
0  충청북도  음성군 2003-12-12  충청북도 음성군 삼성면 용성리  20031212   127     12  2003
1  충청북도  음성군 2003-12-17  충청북도 음성군 삼성면 덕정리  20031217   127     12  2003
2  충청북도  음성군 2003-12-19  충청북도 음성군 삼성면 용성리  20031219   127     12  2003
3  경상북도  경주시 2003-12-21  경상북도 경주시 안강읍 육통리  20031221   138     12  2003
4  전라남도  나주시 2003-12-21  전라남도 나주시 산포면 매성리  20031221   156     12  2003

In [83]:
#발생건수 '시도' '시군' 별 카운트
AI_occur_local=AI_occur_month.groupby(['시도','시군구'])['발생일'].count()
AI_occur_local=AI_occur_local.to_frame()
AI_occur_local

          발생일
시도   시군구
강원도  원주시    1
     인제군    1
     철원군    2
     춘천시    2
     횡성군    2
...       ...
충청북도 증평군    1
     진천군   44
     청원군    1
     청주시    8
     충주시    4

[112 rows x 1 columns]

In [85]:
#년-월-시도-시군으로 발생일 카운트
AI_occur_local_ym=AI_occur_month.groupby(['year','month','시도','시군구'])['발생일'].count()
# 데이터프레임으로 변환
AI_occur_local_ym=AI_occur_local_ym.to_frame()
AI_occur_local_ym

                      발생일
year month 시도    시군구
2003 12    경기도   이천시    2
           경상북도  경주시    4
           울산광역시 울주군    2
           전라남도  나주시    2
           충청남도  천안시    3
...                   ...
2021 2     충청북도  충주시    1
     3     전라남도  나주시    2
                 장흥군    2
           충청북도  충주시    2
     4     전라남도  장흥군    2

[407 rows x 1 columns]

In [92]:
# 철새데이터 년-월-시도-시군 데이터 불러오기
wild_birds_month_local=wild_birds_month.copy()
wild_birds_month_local.head()

,구분,시도,시군,2014년-10월,2014년-11월,2014년-12월,2015년-01월,2015년-02월,2015년-03월,2015년-10월,...,2020년-01월,2020년-02월,2020년-03월,2020년-10월,2020년-11월,2020년-12월,2021년-01월,2021년-02월,2021년-03월,평균
0,날짜,NaN,NaN,2014-10-01,2014-11-14,2014-12-14,2015-01-15,2015-02-15,2015-03-15,2015-10-15,...,2020-01-20,2020-02-20,2020-03-20,2020-10-20,2020-11-20,2020-12-20,2021-01-21,2021-02-21,2021-03-21,NaN
1,조사종수,-,-,182,190,186,180,186,186,201,...,210,167,162,180,180,203,202,178,180,183.571429
2,합계,-,-,617312,1038700,1111763,974685,675607,839772,483382,...,1629083,923296,380384,575277,944700,1571494,1481717,858236,472276,912340.476200
3,철원평야,강원도,철원군,51660,43900,9336,10857,14109,40987,70824,...,62302,99543,60365,39088,36482,53663,21929,54268,40268,46908.547620
4,연천군,경기도,연천군,595,1150,1227,3530,4674,3297,1349,...,7786,0,0,0,2493,3639,4452,11186,2471,3150.500000

In [177]:
wild_birds_month_1410=wild_birds_month_local.iloc[:,:-1]
wild_birds_month_1410

,구분,시도,시군,2014년-10월,2014년-11월,2014년-12월,2015년-01월,2015년-02월,2015년-03월,2015년-10월,...,2019년-12월,2020년-01월,2020년-02월,2020년-03월,2020년-10월,2020년-11월,2020년-12월,2021년-01월,2021년-02월,2021년-03월
0,날짜,NaN,NaN,2014-10-01,2014-11-14,2014-12-14,2015-01-15,2015-02-15,2015-03-15,2015-10-15,...,2019-12-19,2020-01-20,2020-02-20,2020-03-20,2020-10-20,2020-11-20,2020-12-20,2021-01-21,2021-02-21,2021-03-21
2,합계,-,-,617312,1038700,1111763,974685,675607,839772,483382,...,1817155,1629083,923296,380384,575277,944700,1571494,1481717,858236,472276
3,철원평야,강원도,철원군,51660,43900,9336,10857,14109,40987,70824,...,70858,62302,99543,60365,39088,36482,53663,21929,54268,40268
4,연천군,경기도,연천군,595,1150,1227,3530,4674,3297,1349,...,5134,7786,0,0,0,2493,3639,4452,11186,2471
5,성산-성수,서울특별시,성동구,477,4443,7212,6333,5853,21801,1434,...,2088,2925,0,0,0,0,2312,1979,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,논산천,충청남도,논산시,0,0,0,0,0,0,0,...,0,0,0,0,0,1394,2974,2744,3000,1224
246,신천,경기도,동두천시,0,0,0,0,0,0,0,...,0,0,0,0,0,975,1299,973,676,757
247,원천리천,경기도,수원시,0,0,0,0,0,0,0,...,0,0,0,0,0,801,411,377,517,359
248,원평천,전라북도,김제시,0,0,0,0,0,0,0,...,0,0,0,0,0,5122,8807,30649,5965,1890
249,장척저수지,경상북도,창녕군,0,0,0,0,0,0,0,...,0,0,0,0,0,983,561,749,1231,939

In [102]:
# 철새데이터 년-월-시도-시군 데이터 행열 변환.
wild_birds_month_local_t=wild_birds_month_local.T
wild_birds_month_local_t

,0,1,2,3,4,5,6,7,8,9,...,240,241,242,243,244,245,246,247,248,249
구분,날짜,조사종수,합계,철원평야,연천군,성산-성수,성산-성수,성수-팔당댐,성수-팔당댐,중랑천,...,화포천,화성호,보령호,천수만,고막원천,논산천,신천,원천리천,원평천,장척저수지
시도,NaN,-,-,강원도,경기도,서울특별시,서울특별시,서울특별시,경기도,서울특별시,...,경상남도,경기도,충청남도,충청남도,전라남도,충청남도,경기도,경기도,전라북도,경상북도
시군,NaN,-,-,철원군,연천군,성동구,마포구,성동구,남양주시,중랑구,...,김해시,화성시,보령시,태안군,장성군,논산시,동두천시,수원시,김제시,창녕군
2014년-10월,2014-10-01,182,617312,51660,595,477,477,552,552,0,...,0,0,0,0,0,0,0,0,0,0
2014년-11월,2014-11-14,190,1038700,43900,1150,4443,4443,1917,1917,0,...,0,0,0,0,0,0,0,0,0,0
2014년-12월,2014-12-14,186,1111763,9336,1227,7212,7212,2199,2199,3773,...,0,0,0,0,0,0,0,0,0,0
2015년-01월,2015-01-15,180,974685,10857,3530,6333,6333,3023,3023,0,...,0,0,0,0,0,0,0,0,0,0
2015년-02월,2015-02-15,186,675607,14109,4674,5853,5853,6068,6068,0,...,0,0,0,0,0,0,0,0,0,0
2015년-03월,2015-03-15,186,839772,40987,3297,21801,21801,5469,5469,0,...,0,0,0,0,0,0,0,0,0,0
2015년-10월,2015-10-15,201,483382,70824,1349,1434,1434,616,616,0,...,0,0,0,0,0,0,0,0,0,0
2015년-11월,2015-11-15,180,778868,52965,1986,4026,4026,2945,2945,0,...,0,0,0,0,0,0,0,0,0,0
2015년-12월,2015-12-15,194,1764969,48258,5171,5640,5640,4621,4621,5957,...,0,0,0,0,0,0,0,0,0,0
2016년-01월,2016-01-16,194,1568527,17208,9172,2527,2527,5880,5880,5514,...,0,0,0,0,0,0,0,0,0,0
2016년-02월,2016-02-16,173,875838,25098,7180,5425,5425,5863,5863,0,...,0,0,0,0,0,0,0,0,0,0
2016년-03월,2016-03-16,175,438506,18073,7458,1636,1636,1454,1454,0,...,0,0,0,0,0,0,0,0,0,0
2016년-10월,2016-10-16,186,500205,30144,2053,668,668,541,541,0,...,0,0,0,0,0,0,0,0,0,0
2016년-11월,2016-11-16,195,905642,42176,1933,3875,3875,1407,1407,0,...,0,0,0,0,0,0,0,0,0,0
2016년-12월,2016-12-16,195,1188443,28046,4445,1352,1352,2724,2724,1997,...,0,0,0,0,0,0,0,0,0,0
2017년-01월,2017-01-17,190,1320000,29915,5690,876,876,2468,2468,1194,...,0,0,0,0,0,0,0,0,0,0
2017년-02월,2017-02-17,177,890509,22531,6966,0,0,4186,4186,0,...,0,0,0,0,0,0,0,0,0,0
2017년-03월,2017-03-17,174,413302,8044,3038,15014,15014,10784,10784,0,...,0,0,0,0,0,0,0,0,0,0
2017년-10월,2017-10-17,176,382817,49592,0,0,0,0,0,1203,...,0,0,0,0,0,0,0,0,0,0
2017년-11월,2017-11-17,159,607613,57910,0,0,0,0,0,1823,...,0,0,0,0,0,0,0,0,0,0
2017년-12월,2017-12-17,188,1069951,57633,5196,1966,1966,2475,2475,1545,...,0,0,0,0,0,0,0,0,0,0
2018년-01월,2018-01-18,189,1432843,39898,3060,2208,2208,3588,3588,1556,...,0,0,0,0,0,0,0,0,0,0
2018년-02월,2018-02-18,195,968497,36929,6200,1640,1640,2982,2982,1471,...,0,0,0,0,0,0,0,0,0,0
2018년-03월,2018-03-18,170,414952,74873,0,0,0,0,0,1370,...,0,0,0,0,0,0,0,0,0,0
2018년-10월,2018-10-18,177,454906,77656,0,0,0,0,0,1016,...,0,0,0,0,0,0,0,0,0,0
2018년-11월,2018-11-18,166,757778,82745,0,0,0,0,0,1755,...,0,0,0,0,0,0,0,0,0,0
2018년-12월,2018-12-18,199,1320063,58438,4099,870,870,3423,3423,2141,...,1797,0,3091,2918,0,0,0,0,0,0
2019년-01월,2019-01-19,202,1469859,56868,5691,1647,1647,2084,2084,1885,...,1182,0,1530,3506,0,0,0,0,0,0
2019년-02월,2019-02-19,157,713814,41524,0,0,0,0,0,2585,...,0,3928,0,0,0,0,0,0,0,0
2019년-03월,2019-03-19,160,368329,65786,0,0,0,0,0,5922,...,0,5466,0,0,0,0,0,0,0,0
2019년-10월,2019-10-19,183,611490,80054,0,0,0,0,0,1559,...,0,6979,0,0,0,0,0,0,0,0
2019년-11월,2019-11-19,169,705740,87356,0,0,0,0,0,2101,...,0,16756,0,0,0,0,0,0,0,0
2019년-12월,2019-12-19,214,1817155,70858,5134,2088,2088,2890,2890,1119,...,4913,0,2485,2729,0,0,0,0,0,0
2020년-01월,2020-01-20,210,1629083,62302,7786,2925,2925,2368,2368,1521,...,5289,0,3654,4680,0,0,0,0,0,0
2020년-02월,2020-02-20,167,923296,99543,0,0,0,0,0,2370,...,0,18489,0,0,0,0,0,0,0,0
2020년-03월,2020-03-20,162,380384,60365,0,0,0,0,0,2194,...,0,15994,0,0,0,0,0,0,0,0
2020년-10월,2020-10-20,180,575277,39088,0,0,0,0,0,1198,...,0,20786,0,0,0,0,0,0,0,0
2020년-11월,2020-11-20,180,944700,36482,2493,0,0,0,0,1163,...,2523,0,0,0,1447,1394,975,801,5122,983
2020년-12월,2020-12-20,203,1571494,53663,3639,2312,2312,1918,1918,2129,...,5450,0,2357,2565,694,2974,1299,411,8807,561
2021년-01월,2021-01-21,202,1481717,21929,4452,1979,1979,2602,2602,2537,...,5762,0,2036,2608,909,2744,973,377,30649,749
2021년-02월,2021-02-21,178,858236,54268,11186,0,0,0,0,1746,...,3147,0,0,0,874,3000,676,517,5965,1231
2021년-03월,2021-03-21,180,472276,40268,2471,0,0,0,0,1662,...,1016,0,0,0,1321,1224,757,359,1890,939
평균,NaN,183.571,912340,46908.5,3150.5,2529.21,2529.21,2072.55,2072.55,1523.95,...,739.976,2104.71,360.786,452.524,124.881,269.905,111.429,58.6905,1248.4,106.262

In [145]:
wild_birds_month_local_t.info()

<class 'pandas.core.frame.DataFrame'>
Index: 46 entries, 구분 to 평균
Columns: 250 entries, 0 to 249
dtypes: object(250)
memory usage: 91.5+ KB

In [ ]:
# DataFrame의 index 변형하기
AI_occur_m.set_index('datetime', inplace=True) 
#년도와 월 컬럼 생성
AI_occur_m['month']=AI_occur_m.index.month
AI_occur_m['year']=AI_occur_m.index.year
AI_occur_m=AI_occur_m.reset_index()
AI_occur_m

In [133]:
AI_brids_occur_count

     철새 유 철새 무       합계
2014   31   15  2767775
2015  112   29  5517283
2016  314    1  5477161
2017   79   38  4684192
2018   14    0  5349039
2019    0    0  5686387
2020   43    0  6024234
2021    0    0  2812229

In [143]:
df_11=pd.concat([wild_birds_month_t ,AI_occur_brids_sdf],axis=1)
df_11

           합계 철새 유
2014  2767775   31
2015  5517283  112
2016  5477161  314
2017  4684192   79
2018  5349039   14
2019  5686387    0
2020  6024234   43
2021  2812229    0

In [144]:
df_11.sort_values(by='합계')

           합계 철새 유
2014  2767775   31
2021  2812229    0
2017  4684192   79
2018  5349039   14
2016  5477161  314
2015  5517283  112
2019  5686387    0
2020  6024234   43